<div class="location clearfix">
  <p class="address"><%= @location.address %></p>
  <%= form_for(@location) do |f| %>
  <fieldset>  
    <label for="safe">Residence is safe?</label>
    <%= f.check_box :safe %>
  </fieldset>
  <fieldset>  
    <label for="power">Residence has power?</label>
    <%= f.check_box :power %>
  </fieldset>
  <fieldset>  
    <label for="heat">Residence has heat?</label>
    <%= f.check_box :heat %>
  </fieldset>
  <fieldset>  
    <label for="water">Residence has water?</label>
    <%= f.check_box :water %>
  </fieldset>
  <fieldset>  
    <label for="flooding">Residence is flooded?</label>
    <%= f.check_box :flooding %>
  </fieldset>
  <fieldset class="elevator">
  	<label for="elivator_status">Elevators are working?</label>
	<div class="radios">
		<input id="elevator_status_yes" name="elevator_status" type="radio" value="yes">
	    <label class="radio">Yes</label>
	    <input id="elevator_status_no" name="elevator_status" type="radio" value="no">
	    <label class="radio">No</label>
	    <input id="elevator_status_not_applicable" name="elevator_status" type="radio" value="not applicable" checked="yes">
	    <label class="radio">Not Applicable</label>
	</div>
  </fieldset>
  <fieldset>
  <input type="hidden" name="location[elevators_available]" value="0">
  <input type="hidden" name="location[elevators_safe]" value="0">
  <%= f.submit 'Submit' %>  
  </fieldset>

<% end %>
</div>
