<div class="location clearfix">
  <% if @location.address %>
  <p class="address"><%= @location.address %>
  </p><% end %>
  <%= form_for(@location) do |f| %>
  <% if !@location.address %>
  <fieldset class="address">  
    <label for="address">Address</label>
    <%= f.text_field :address %>
  </fieldset>
  <% end %>
  <fieldset>  
    <label for="safe">Residence is safe?</label>
    <%= f.check_box :safe %>
  </fieldset>
  <fieldset>  
    <label for="power">Residence has power?</label>
    <%= f.check_box :power %>
  </fieldset>
  <fieldset>  
    <label for="heat">Residence has heat?</label>
    <%= f.check_box :heat %>
  </fieldset>
  <fieldset>  
    <label for="water">Residence has water?</label>
    <%= f.check_box :water %>
  </fieldset>
  <fieldset>  
    <label for="flooding">Residence is flooded?</label>
    <%= f.check_box :flooding %>
  </fieldset>
  <fieldset class="elevator">
  	<label for="elivator_status">Elevators are working?</label>
	<div class="radios">
    <input id="elevator_status_yes" <%= is_checked %> name="elevator_status" type="radio" value="yes">
	    <label class="radio">Yes</label>
      <input id="elevator_status_no" <%= is_no %> name="elevator_status" type="radio" value="no">
	    <label class="radio">No</label>
      <input id="elevator_status_not_applicable" <%= is_na %> name="elevator_status" type="radio" value="not applicable">
	    <label class="radio">N/A</label>
	</div>
  </fieldset>
  <fieldset>
  <input type="hidden" name="location[elevators_available]" value="0">
  <input type="hidden" name="location[elevators_safe]" value="0">
  
  <% if @location.address %>
  <%= f.submit 'Submit', :onclick => "return confirm('Are you sure you want to update this address?')" %>
  <% else %>
  <%= f.submit 'Submit', :onclick => "return confirm('Are you sure you want to add this address?')" %>
  <% end %>
  <a href="/"><input name="cancel" type="button" value="Cancel"></a>
  </fieldset>

<% end %>
</div>
