<div class="location">
  <p><%= @location.address %></p>
  <%= form_for(@location) do |f| %>
  <p>  
    <%= f.label :safe %>
    <%= f.check_box :safe %>
  </p>
  <fieldset>  
    <%= f.label :power %>
    <%= f.check_box :power %>
  </fieldset>
  <fieldset>  
    <%= f.label :heat %>
    <%= f.check_box :heat %>
  </fieldset>
  <fieldset>  
    <%= f.label :water %>
    <%= f.check_box :water %>
  </fieldset>
  <fieldset>  
    <%= f.label :flooding %>
    <%= f.check_box :flooding %>
  </fieldset>
  <fieldset>
  <label for="elivator_status">Are elevators working?</label>
     <% [ 'yes', 'no', 'not applicable'].each do |elevator_status| %>
         <br><%= radio_button_tag 'elevator_status', elevator_status, @elevator_status == elevator_status %>
      <%= elevator_status.humanize %>
      <% end %>
  </fieldset>
  <fieldset>
  <%= f.submit 'Submit' %>  
  </fieldset>

<% end %>
</div>
