<div class="location clearfix">
  <p class="address"><%= @location.address %></p>
  <%= form_for(@location) do |f| %>
  <fieldset>  
    <%= f.label :safe %>
    <%= f.check_box :safe %>
  </fieldset>
  <fieldset>  
    <%= f.label :power %>
    <%= f.check_box :power %>
  </fieldset>
  <fieldset>  
    <%= f.label :heat %>
    <%= f.check_box :heat %>
  </fieldset>
  <fieldset>  
    <%= f.label :water %>
    <%= f.check_box :water %>
  </fieldset>
  <fieldset>  
    <%= f.label :flooding %>
    <%= f.check_box :flooding %>
  </fieldset>
  <fieldset class="elevator">
  	<label for="elivator_status">Elevators working?</label>
	<input id="elevator_status_yes" name="elevator_status" type="radio" value="yes">
    <label class="radio">Yes</label>
    <input id="elevator_status_no" name="elevator_status" type="radio" value="no">
    <label class="radio">No</label>
    <input id="elevator_status_not_applicable" name="elevator_status" type="radio" value="not applicable">
    <label class="radio">Not Applicable</label>
  </fieldset>
  <fieldset>
  <%= f.submit 'Submit' %>  
  </fieldset>

<% end %>
</div>
