<% if @locations.present? %>
<table id="locations">	
  <thead>
    <tr>
      <th class="safety">Status</th>			
      <th class="address">Address</th>
      <th class="updated">Last Updated</th>
    </tr>
  </thead>
</table>
<table>
  <tbody>
    <% @locations.each do |location| %>
    <tr class="<%= cycle("odd", "even") %>">
    <td class="safety <%=is_safe(location)%>"><img src="images/<%=is_safe(location)%>.svg"/></td>			
    <td class="address"><%= link_to location.address, location %></td>
    <td class="updated"><%= location.updated_at.strftime("%m/%d/%Y %I:%M%p") %></td>
  	</tr>
	<% end %>
</tbody>
</table>
<%= will_paginate @locations, :class=>'clearfix pagination', :next_label=> '>', :previous_label=> '<', :inner_window=> 1 %>
<% else %>
<% end %>