<div class="content clearfix">
	<table>	
	<thead>
		<tr>
			<th class="safety">Status</th>			
			<th class="address">Address</th>
			<th class="updated">Last Updated</th>
			<th class="facebook"></th>
			<th class="twitter"></th>
		</tr>
	</thead>
	</table>
	<table>
		<tbody>
      <% if @locations.present? %>
        <% @locations.each do |location| %>
        <tr class="<%= cycle("odd", "even") %>">
        <td class="safety <%=is_safe(location)%>"><img src="images/<%=is_safe(location)%>.svg"/></td>			
        <td class="address"><a href="#"><%= location.address %></a></td>
        <td class="updated"><%= location.updated_at %></td>
				<td class="facebook">FB</td>
				<td class="twitter">TW</td>
			</tr>
        <% end %>
      <% end %>
		</tbody>
	</table>
</div>
