<table>	
  <thead>
    <tr>
      <th class="safety">Status</th>			
      <th class="address">Address</th>
      <th class="updated">Last Updated</th>
    </tr>
  </thead>
</table>
<table>
  <tbody>
  <% if @locations.present? %>
    <% @locations.each do |location| %>
    <tr class="<%= cycle("odd", "even") %>">
    <td class="safety <%=is_safe(location)%>"><img src="images/<%=is_safe(location)%>.svg"/></td>			
    <td class="address"><%= link_to location.address, location %></td>
    <td class="updated"><%= location.updated_at.strftime("%m/%d/%Y %I:%M%p") %></td>
  </tr>
<% end %>
<% else %>
  <h2>Couldn't find your address?'</h2>
  <a href="#"><span class="bold">CLICK HERE</span> to add your building.</a>
<% end %>
  </tbody>
</table>
